/* Import Font Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: "Lato", sans-serif;
  background-color: #a8dadc;
}

.wrapper {
  background-color: #f1faee;
  margin: 50px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.info {
  background-color: #f1faee;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 40px 40px;
  flex-grow: 10;
}
.left {
  background-color: #f1faee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.video {
  padding: 40px;
  justify-content: center;
}
.img_profile {
  width: 250px;
}
.social {
  background-color: #f1faee;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.logo {
  background-color: #f1faee;
  width: 30px;
}
a {
  background-color: #f1faee;
  margin: 0px 10px;
  text-decoration: none;
  color: black;
}

.nav:hover {
  color: #a8dadc;
}

.right {
  padding-left: 3rem;
  background-color: #f1faee;
}
.nav_bar {
  background-color: #f1faee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 60%;
  padding-bottom: 30px;
}
.nav_home {
  background-color: #f1faee;
}
.nav_about {
  background-color: #f1faee;
}
.nav_contact {
  background-color: #f1faee;
}
.tag {
  background-color: #f1faee;
  padding-bottom: 20px;
}
.highlite {
  background-color: #1d3557;
  color: white;
  padding: 0px 4px;
}
.name_title {
  background-color: #f1faee;
  display: flex;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: xxx-large;
}
.description {
  background-color: #f1faee;
  display: flex;
  text-align: justify;
  padding-bottom: 30px;
  line-height: 1.6;
}
.content {
  background-color: #f1faee;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.info_wrapper {
  background-color: #f1faee;
  padding: 0rem 2rem 2rem 2rem;
}
p {
  background-color: #f1faee;
}
.map_button {
  background-color: #f1faee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button {
  background-color: #f1faee;
  margin: 1rem 0;
  padding: 4px;
  background-color: #5491f5;
  border-radius: 5px;
}
.button:hover {
  cursor: pointer;
  background-color: #79a9f7;
}
#map {
  height: 350px;
  width: 350px;
}
.disable {
  background-color: #999a9b;
  color: white;
  margin: 1rem 0;
  padding: 4px;
  border-radius: 5px;
}
.form_row {
  background-color: #f1faee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.form_label {
  background-color: #f1faee;
  margin-right: 1rem;
}
.form-wrapper {
  background-color: #f1faee;
}
.form_input {
  background-color: #f1faee;
}
.calendar {
  height: 350px;
  width: 350px;
  background-color: #1d3557;
  margin-top: 2rem;
}
.container {
  display: flex;
  flex-direction: column;
}
h1 {
  background-color: #f1faee;
  margin-top: 0;
}
.normal_color {
  background-color: #a8dadc;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: #a8dadc;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #a8dadc;
  color: white;
}

.modal-body {padding: 2px 16px;
background-color: #F1FAEE;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #a8dadc;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}