* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#loading {
  /* display: none; */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
}

#loading-image {
  z-index: 100;
}
.body {
  height: 100vh;
}
.imagen {
  height: 40%;
  height: 60px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vw;
  width: 100vw;
  background-color: #f0f0f2;
}
.second {
  height: 100%;
}
.top-bar {
  background-color: #f2ae72;
  height: 100px;
}
.body-wrapper {
  /* flex-grow: 9; */
  background-color: white;
  margin: 3rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  /* padding: 3rem; */
}
.acciones {
  padding: 1rem;
}
.divider {
  height: 2px;
  background-color: #bf7449;
}
.title-top {
  font-size: 17px;
}
.top-bar {
  display: flex;
  flex-direction: row;
}
.top-left {
  flex-grow: 1;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.top-right {
  flex-grow: 1;
}
.search-bar {
  flex-grow: 2;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-search {
  width: 90%;
  height: 40%;
  border: none;
  background-color: white;
  border-radius: 20px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}
.search-bar-and-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}
.search-button {
  border: none;
  display: flex;
  width: 100px;
  height: 40%;
  background-color: #bf7449;
  border-radius: 20px;
  margin-left: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-button:hover {
  background-color: #8c8c8c;
  color: #f0f0f2;
}
a:-webkit-any-link {
  text-decoration: none;
  color: #0645ad;
}
a:hover {
  color: #1867e6;
}
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.title {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.descr {
  padding: 0rem 3rem 2rem 3rem;
  text-align: justify;
  line-height: 1.5;
  text-indent: 50px;
}
.price-change {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}
.positive {
  color: green;
}
.negative {
  color: red;
}
.top-left-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  margin: 0rem;
}
.link-company {
  display: flex;
  flex-direction: row;
}

.marquee {
  height: 30px;
  overflow: hidden;
  position: relative;
  background: black;
  border: 1px solid #4a4a4a;
}

.marquee p {
  color: yellowgreen;
  position: absolute;
  font-size: 12px;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 30px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 50s linear infinite;
}

@keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
}

.hightlight {
  background-color: yellow;
}